<div class="ui fluid container" style="padding-top: 30px;">




	<table class="ui striped table">
		<thead>
			<tr>
				<th>박물관</th>
				<th>디바이스</th>
				<th>카테고리</th>
				<th class="center aligned">작품</th>
				<th>작품 관리</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="catlist : ${categorylist}">
				<td th:text="${catlist.museumEntity.museumName}" />
				<td th:text="${catlist.deviceEntity.deviceName}">적용된 디바이스</td>
				<td th:text="${catlist.categoryName}" />

				<td>
					<div class="ui accordion">
						<div class="title">
							<i class="dropdown icon"></i>

							<span th:if="${catlist.contentEntity.size > 0}"
								th:text="${'등록된 작품 ['+catlist.contentEntity.size+']'}" style="color:red;"></span>
							<span th:if="${catlist.contentEntity.size == 0}" style="color:red;">작품을 먼저 등록해주세요</span>
						</div>
						<div class="content ui grid" style="padding:15px; width:1200px;">
							<div th:each="contentlist : ${catlist.contentEntity}" style="padding-bottom: 30px;"
								class="three wide column">
								<div class="ui fade reveal">
									<div class="visible content">
										<!--비디오 넣기-->
										<video th:if="${#strings.contains(contentlist.contentFileEntity.fileContentType,'video')}"width="200px" height="180px"
										 controls style="cursor: pointer;">
											<source th:src="${'/admin/file/imageView/'+contentlist.contentFileEntity.fileSeq}" 
													th:type="${contentlist.contentFileEntity.fileContentType}"
											 >
										</video>
										<img
											th:if="${#strings.contains(contentlist.contentFileEntity.fileContentType,'image')}"
											th:src="${'/admin/file/imageView/'+contentlist.contentFileEntity.fileSeq}" width="200px" height="180px"
											alt="이미지가 존재하지 않습니다" />
								 	</div>
									<div class="hidden content">
	    								<img th:attr="data-src=${'holder.js/200x180?bg=2a2025&amp;size=15&amp;text=' + contentlist.contentName}"/>
	  								</div>
								</div>
								<div class="center aligned">
									<span style="display: none;" class="downdatas">
										<button class="primary basic ui icon button" 
										th:value="${'/admin/file/download/' + contentlist.contentFileEntity.fileSeq}"
										onclick="fndownloadfile(this)">
										<i class="download icon"></i>다운로드
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td style="width: 140px;">
					<a class="ui button" th:href="${'/admin/ex/register/' + 
						catlist.categorySeq}" th:if="${catlist.contentEntity.size() == 0}">
						등록하기
					</a>
					</th:if>
					<a class="ui button" th:href="${'/admin/ex/modify/' + 
						catlist.categorySeq}" th:if="${catlist.contentEntity.size() > 0}">
						수정하기
					</a>
					</th:if>
				</td>
			</tr>
		</tbody>
	</table>
</div>